click==8.2.1
joblib==1.5.1
regex==2024.11.6
tqdm==4.67.1
nltk==3.9.1
more-itertools==10.7.0
typing_extensions==4.14.0
typeguard==4.4.4
inflect==7.5.0
Distance==0.1.3
numpy==1.26.4
opencv-python==4.6.8.1
scipy==1.14.1
lap==0.5.12
proces==0.1.7
cn2an==0.5.23
Cython==3.1.2
cython_bbox==0.1.5
g2p-en==2.1.0
jieba==0.42.1
kaldi-native-fbank==1.20.1
PyYAML==6.0.1
sniffio==1.3.1
idna==3.10
certifi==2025.1.31
h11==0.14.0
httpcore==1.0.7
distro==1.9.0
jiter==0.6.1
annotated-types==0.7.0
pydantic_core==2.27.2
pydantic==2.10.6
anyio==4.9.0
httpx==0.28.1
ollama==0.4.7
openai==1.68.2
playsound==1.3.0
PyAudio==0.2.14
pypinyin==0.54.0
pycparser==2.22
cffi==1.17.1
soundfile==0.13.1
spacemit-ort==1.2.2
fsspec==2025.5.1
charset-normalizer==3.4.2
urllib3==2.5.0
requests==2.32.4
huggingface-hub==0.33.2
tokenizers==0.19.1
safetensors==0.5.1
filelock==3.18.0
transformers==4.40.0
transforms3d==0.4.2
webrtcvad==2.0.10